<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>


<div class="container">

    <div th:if="${#authorization.getAuthentication().isAuthenticated()}">
        <div th:text="${#authentication.name}"></div>
    </div>


    <div th:if="!${#authorization.getAuthentication().isAuthenticated()}">
<!--    <div sec:authorize="isAnonymous()">-->
        Login as <a th:href="@{/user}">User</a> or <a th:href="@{/admin}">Admin</a>
    </div>


</div>

</body>
</html>
